html {
overflow: scroll;
 overflow-x: hidden;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-color:		#505050;
color:black;
font-family:sans-sarif;
}
button {
	margin-bottom: 5px;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
margin: 0;
overflow: hidden;
}
.sk {
color: silver;
}
.bk {
color: red;
}
#timerControl {
	margin-left:90px;
}
#normalColumn1 {
	margin-left:10px;
}
.dot_span{
	margin-left:21px;
}
.doubledot_span{
	margin-left:42px;
}
.track_text {
	font-size:30px;
	margin-left:3px;
	margin-right:3px;
	vertical-align:top;
}
#checks_remaining {
	color:blue;
	font-size: 18px;
	font-weight: bold;
	
}
#text_next {
	display: none;
	color: lightblue;
	font-size: 18px;
	font-weight: bold;
}
#next {
	display: none !important;
}
#logically_accessible{
	color:darkgreen;
	font-size: 18px;
	font-weight: bold;
	
}
#text_gan {
	vertical-align:top;
	color: #990000;
	font-size:30px;
	text-transform:uppercase;
	font-family: "Consolas", Courier, monospace;
}
.linsomed {
	font-size : 16px;
	font-family : "Consolas", Courier, monospace;
	color : white;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.linsostone {
	font-size : 12px;
	font-family : "Consolas", Courier, monospace;
	color : white;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.linso_counter {
	font-size:30px;
	color: rgb(255,215,0);
	text-align: left;
	position: absolute;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255,255,255);
}
.dung4{
	vertical-align:top;
	color: green;
	font-size:30px;
	text-transform:uppercase;
	font-family: "Consolas", Courier, monospace;
}
.dung5{
	vertical-align:top;
	color: red;
	font-size:30px;
	text-transform:uppercase;
	font-family: "Consolas", Courier, monospace;
}
.dung6{
	vertical-align:top;
	color: blue;
	font-size:30px;
	text-transform:uppercase;
	font-family: "Consolas", Courier, monospace;
}
.dung7{
	vertical-align:top;
	font-size:30px;
	color: rgb(238, 130, 238);
	text-transform:uppercase;
	font-family: "Consolas", Courier, monospace;
}
.dung8{
	vertical-align:top;
	font-size:30px;
	color: rgb(255, 165, 0);
	text-transform:uppercase;
	font-family: "Consolas", Courier, monospace;
}
.dung9{
	vertical-align:top;
	font-size:30px;
	color: black;
	text-transform:uppercase;
	font-family: "Consolas", Courier, monospace;
}
.dung1{
	vertical-align:top;
	font-size:24px;
	text-transform:uppercase;
	font-family: "Consolas", Courier, monospace;
	color: green;
	font-style:italic;
	font-weight:100;
	opacity:.8;
}
.dung2{
	vertical-align:top;
	font-size:24px;
	text-transform:uppercase;
	font-family: "Consolas", Courier, monospace;
	color: red;
	font-style:italic;
	font-weight:100;
	opacity:.8;
}
.dung3{
	vertical-align:top;
	font-size:24px;
	text-transform:uppercase;
	font-family: "Consolas", Courier, monospace;
	color: blue;
	font-style:italic;
	font-weight:100;
	opacity:.8;
}
.empty {
	height:0px;
	width:0px;
}
.stones {
	height:25px;
	width:25px;
	margin-bottom: 6px;
	margin-top: 0px;
}
.medallions {
	height:25px;
	width:25px;
	margin-bottom: 4px;
	margin-top: 6px;
}
#medallionPic {
	margin-top: 4px;
	margin-right:4px;
}
#med_background {
	background-image: url("./normal/background.png");
	filter: drop-shadow(14px 0 5px gold);
	border-radius: 1%;
}
.requirements {
	height:30px;
	width: 30px;
	margin-left:0px;
	margin-right:0px;
	margin-top:2px;
	opacity: 0.2;
}
.hint_input {
	width: 46px;
	vertical-align: top;
	margin-bottom: 0px;
}

#skip_req{
	color: darkgreen;
}
.hint_text {
	font-size: 20px;
	font-weight: bold;
}
.meh_text {
	font-size: 14px;
	color: green;
}
.meh_input {
	width: 25px;
	vertical-align: top;
	margin-bottom: 3px;
}
#woth_text {
	color: #33cccc
}
#barren_text {
	color: #ff8080
}
.super_hint_input {
	width: 200px;
	height:140px;
	vertical-align: top;
	margin-bottom: 3px;
	columns: 5
}
.area_titles {
	font-size: 20px;
	float: left;
	font-weight: 3000;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.column {
	margin-top:10px;
  float: left;
  width: 90px;
}
#inputConfig {
	width:200px;
	float:left;
}
#skullsInLogicList {
	float: left;
	width: 180px;
	color: gold;
}
#checkSummaryColumn {
	margin-top:10px;
	left:20px;
	position:relative;
	float: left;
	width: 300px;
}
#extra_column {
	width: 75px;
	float: left;
	margin-top:10px;
}
#song_background {
	margin-top:41px;
	margin-right:2px;
	height:252px;
	border-radius:2.5%;
	filter: drop-shadow(-10px 0 5px white);
	border: 1px ridge #202020;
	background-image: url("./normal/background.png");
}
#info_column {
	position:relative;
	margin-top:10px;
	float: left;
	width: 237px;

}
#patchNotesColumn {
	position: absolute;
	left: 970px;
	top: 720px;
}
#settingsColumn {
	position: absolute;
	left: 1100px;
	top: 1300px;
}
.patchNotes {
	font-size: 12px;
	color:lightblue;
}
.wothImages {
	margin-bottom:0px;
	height: 22px;
	width: 22px;
}
.confirmedWothImages {
	margin-bottom:0px;
	height: 22px;
	width: 22px;
	-webkit-filter: drop-shadow(0px 0px 5px lightblue);
}
.wothMajorImages {
	height: 22px;
	width: 22px;
}
.customizeTitles{
	font-size: 18px;
	font-weight: bold;
	color:#b19cd9;
}
.patchNotesTitle {
	font-size: 14px;
	font-weight: bold;
	color:lightblue;
}
#alternateTrackerColumn {
	position: relative;
	margin-top:10px;
	height:500px;
	float: left;
	width: 280px;
}
#linsoColumn {
	position: relative;
	margin-top:10px;
	float: left;
	width: 280px;
}
.pplpics {
	height:12px;
	width: 12px;
	margin-right:4px;
	margin-top:9px;
}
#songcolumn {
	margin-top:10px;
	float: left;
	width: 130px;
}
.dungcolumn {
	margin-top:10px;
  float: left;
  width:100px;
}
.no_span {
	
}
#notes {
	color: white;
}
.full_span{
	display:inline-block;
	width:40px;
}
.half_span{
	display:inline-block;
	width:20px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.check_input {
	height:22px;
	width: 30px;
	vertical-align: top;
	margin-bottom: 2px;
	margin-right:2px;
	padding: 0;
	border: none;
}
.picture_input {
	width: 30px;
	height:22px;
	margin-bottom:2px;
	margin-right:2px;
	vertical-align: top;
	padding: 0;
	border: none;
}
.layout_input {
	width: 55px;
	vertical-align: top;
	margin-bottom: 0px;
	margin-top:3px;
}
.check_text {
	font-size: 16px;
	letter-spacing: 0px;
}
.logic_check_text{
	font-size: 16px;
	color: 						chartreuse;
	font-weight:bold;
	display: inline-block;
	margin-top:2px;
	margin-bottom:1px;
	vertical-align: top;
	letter-spacing: -1px;
}
.logic_check_text2{
	vertical-align: top;
	font-size: 16px;
	font-weight: normal;
	color: 	chartreuse;
	display: inline-block;
	margin-bottom:2px;
}
.access_check_text{
	vertical-align: top;
	font-size: 16px;
	color: 						yellow;
	font-weight:normal;
	margin-top:2px;
	margin-bottom:1px;
	display: inline-block;
	opacity: .5;
	letter-spacing: -1px;
}
.ool_check_text{
	vertical-align: top;
	font-size: 16px;
	font-weight: normal;
	color: 	black;
	display: inline-block;
	margin-top:2px;
	margin-bottom:1px;
	opacity: .5;
	letter-spacing: -1px;
}
.ool_check_text2{
	vertical-align: top;
	font-size: 16px;
	font-weight: normal;
	color: 	black;
	display: inline-block;
	margin-bottom:2px;
}
#timerControl {
	display:none;	
}
#linsoControl {
}
#linso11 {
	position:absolute;
	right:-133px;
	top: 8px;
}

.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.dot {
  height: 18px;
  width: 18px;
  margin-right:3px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}
.logicdot {
	height: 12px;
	width: 12px;
	margin-left:3px;
	margin-right:3px;
	background-color: palevioletred;
	vertical-align: center;
	border-radius: 50%;
	display: inline-block;
}
.superdot {
  height: 18px;
  width: 18px;
  margin-left:2px;
  margin-top: 2px;
  margin-bottom: 10px;
  vertical-align: center;
  text-align: center;
  font-size:16px;
  color:orange;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}
.superdotSK {
  height: 18px;
  width: 18px;
  margin-left:2px;
  vertical-align: center;
  text-align: center;
  font-size:16px;
  color:black;
  background-color: lightgray;
  border-radius: 50%;
  display: inline-block;
}
.superdotBK {
  height: 18px;
  width: 18px;
  margin-left:3px;
  vertical-align: center;
  text-align: center;
  font-size:16px;
  color:white;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.bossdot {
  height: 18px;
  width: 18px;
  background-color: red;
  margin-right:3px;
  border-radius: 50%;
  display: inline-block;
}
.songpics {
	height:40px;
	width: 40px;
	margin-left:8px;
	margin-right:0px;
	margin-top:5px;
	margin-bottom:5px;
	opacity: .2;
}
.bonuspics{
	height:26px;
	width: 26px;
	margin-right:4px;
	margin-top:2px;
	margin-bottom:3px;
	opacity: .2;
}
.buttonpics{
	height:32px;
	width: 32px;
	margin-right:4px;
	margin-top:2px;
	margin-bottom:3px;
	opacity: 1;
}
#timerControl {
 top:970px;
 position: absolute;
 right:1180px;
}
#skulls_in_logic {
	top:30px;
	font-size: 18px;
	font-weight: bold;
	color: gold;
	left:600px;
	position: absolute;
}
#tokens_acquired {
	top:30px;
	font-size: 18px;
	font-weight: bold;
	color: gold;
	left:600px;
	position: absolute;
}
#timer {
	font-size:42px;
	color: white;
	position: absolute;
	top:850px;
	left:400px;
	font-family: calibri;
}
#forest_medallion {
	top: 51px;
	right: 940px;
	position: absolute;
	opacity: .2;
}
#fire_medallion {
	top: 87px;
	right: 940px;
	position: absolute;
	opacity: .2;
}
#water_medallion {
	top: 124px;
	right: 940px;
	position: absolute;
	opacity: .2;
}
#gen1_medallion {
	top: 159px;
	right: 940px;
	position: absolute;
	opacity: .2;
}
#gen2_medallion {
	top: 196px;
	right: 940px;
	position: absolute;
	opacity: .2;
}
#gen3_medallion {
	top: 231px;
	right: 940px;
	position: absolute;
	opacity: .2;
}
#linsoLight{
	animation: rotation 6s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#woth_info {
	margin-top:0px;
	padding-top: 0px;
	text-align:top;
	left: 830px;
}
.woth_info_text {
	font-size: 14px;
	font-style: italic;
}
.woth_item_text {
	color:lightblue;
	font-size: 14px;
	font-style: italic;
}
.woth_info_title {
	font-size: 16px;
}
#confirmed_logically_required {
	position: absolute;
	left:  720px;
	top: 890px;
}
#ageButton {
	display: none;
	height: 20px;
	width: 20px;
	top:29px;
	left:895px;
	position: absolute;
}
.keydot {
  height: 18px;
  width: 18px;
  background-color: gray;
  margin-right:3px;
  border-radius: 50%;
  display: inline-block;
}
.greendot {
  height: 24px;
  width: 24px;
  margin-right:3px;
  margin-bottom:3px;
  background-color: green;
  border-radius: 50%;
  opacity: 0.2;
  display: inline-block;
}
.reddot {
  height: 26px;
  width: 26px;
  margin-right:3px;
  background-color: red;
  border-radius: 50%;
  opacity: 0.2;
  display: inline-block;
}
.bluedot {
  height: 18px;
  width: 18px;
  margin-right:3px;
  background-color: blue;
  border-radius: 50%;
  opacity: 0.2;
  display: inline-block;
}
.purpledot {
  height: 18px;
  width: 18px;
  margin-right:3px;
  background-color: purple;
  border-radius: 50%;
  opacity: 0.2;
  display: inline-block;
}
.orangedot {
  height: 18px;
  width: 18px;
  margin-right:3px;
  background-color: orange;
  border-radius: 50%;
  opacity: 0.2;
  display: inline-block;
}
.yellowdot {
  height: 18px;
  width: 18px;
  margin-right:3px;
  background-color: yellow;
  border-radius: 50%;
  opacity: 0.2;
  display: inline-block;
}
.gameFocus{
position:absolute;
left:50%;
margin-top:40px;
margin-left:-33%;
text-align:center;
height:85%;
width:67%;
border:3px solid black;
border-radius:7.5%;
}
.locationTitle{
font-weight:bold;
font-size:22px;
}
.locationDescription{

    font-size:17px;
}
.localListing{
    width:100%;
    height:5%;
}
.log {
    margin-top:5%;
    height:80%;
    width:10%;
    margin-left:2.5%;
    text-align:left;
}
.logHeading{
    font-size:16px;
    font-weight:bold;
    text-align:center;
}
.localText{
}
.localHeading{
    font-size:16px;
    font-weight:bold;
}
.localSection{
vertical-align:top;
width:25%;
height:60%;
display:inline-block;
margin:1.5%;
margin-top:0%;
}
#markStones {
margin-left: 4px;
margin-top: 6px;
margin-right:15px;
}
#markMedallions {
margin-top: 6px;
width: 92px;
}
#forceOutOfLogic{
	color:pink;
	font-size:18px;
}
#forceIntoLogic{
	color:lightgreen;
	font-size:18px;
}
.travelMenu{
position:absolute;

height:55%;
width:12%;
text-align:center;
border:2px solid black;
top:42%;
right:2%;
}
h1 {
text-align:center;
width:30%;
margin:0 auto;
padding-bottom:8px;
}
button{
outline:none;
}
.top {
display:inline;
}
.web{position:absolute; height:20px; width:20px; background-color:black; color:black; border-radius:50%; }

#cweb{height:35px; width:35px; top:50%; left:50%;}
#a1web{top:59%; left:52%;}
#a2web{top:60%; left:56%;}
#a3web{top:62%; left:60%;}
#a4web{top:65%; left:64%;}
#a5web{top:62%; left:68%;}
#a6web{top:58%; left:72%;}
#a7web{top:61%; left:75%; height:55px; width:55px;}
#b1web{top:44%; left:52%;}
#b2web{top:42%; left:49%;}
#b3web{top:36%; left:50%;}
#b4web{top:32%; left:47%;}

@-webkit-keyframes orbit { 
from { -webkit-transform:rotate(0deg) } 
to { -webkit-transform:rotate(360deg) } }
/*#forest {
	border: 3px solid #88FA4E;
}
#forestSKs {
	border: 3px solid #88FA4E;
}
#forestBKs {
	border: 3px solid #88FA4E;
}
#fire {
	border: 3px solid #FE3213;
}
#fireSKs {
	border: 3px solid #FE3213;
}
#fireBKs {
	border: 3px solid #FE3213;
}
#water {
	border: 3px solid #131BFE;
}
#waterSKs {
	border: 3px solid #131BFE;
}
#waterBKs {
	border: 3px solid #131BFE;
}
#spirit {
	border: 3px solid #8C9B03;
}
#spiritSKs {
	border: 3px solid #8C9B03;
}
#spiritBKs {
	border: 3px solid #8C9B03;
}
#shadow {
	border: 3px solid #69008E;
}
#shadowSKs {
	border: 3px solid #69008E;
}
#shadowBKs {
	border: 3px solid #69008E;
}
#gtg {
	border: 3px solid #FE8B08;
}
#gtgSKs {
	border: 3px solid #FE8B08;
}
#well{
	border: 3px solid #DE86FE;
}
#wellSKs {
	border: 3px solid #DE86FE;
}
#ganons {
	border: 3px solid #990000;
}
#ganonsSKs {
	border: 3px solid #990000;
}
#ganonsBKs {
	border: 3px solid #990000;
}*/
#title_kokiri {
color:#20EA01;
}
#title_ranch {
color:#101001;
}

#title_field {
color:#B6B004;
}

#title_valley {
color:#01E6D7;
}

#title_hylia {
color:#0101E6;
}

#title_market {
color:#C704E5;
}

#title_hcastle {
color:#84FE0B;
}

#title_outG {
color:#FE0404;
}

#title_ToT {
color:#D4E3EF;
}

#title_river {
color:#5DB8FE;
}
#title_domain {
color:#A3D7FE;
}
#title_lostwoods {
color:#004F0B;
}
#title_ganons {
color:#990000	
}
#title_sfm {
color:#8BFB9A;
}
#title_gcity {
color:#FEB813;
}
#title_trail {
color:#573E02;
}
#title_kakariko {
color:#678C8A;
}
#title_crater {
color:#FE3E04;
}
#title_fortress {
color:#C3AB7C;
}
#title_wasteland {
color:#976500;
}
#title_colossus {
color:#FED788;
}
#title_graveyard {
color:#200A28;
}
#title_deku {
color:#563C25;
}
#title_dodongos {
color:#B35705;
}
#title_jabu {
color:#077D8A;
}
#title_fountain {
color:#77F1FE;
}
#title_ice {
color:#9EF3FD;
}
#title_forest {
color:#88FA4E;
}
#title_fire {
color:#FE3213;
}
#title_water {
color:rgb(54, 130, 250);
}
#title_spirit {
color:rgb(155,161,0);
}
#title_shadow {
color:rgb(171,0,231);
}
#title_well {
color:#DE86FE;
}
#title_gtg {
color:#FE8B08;
}
.half_break {
	line-height: 50%;
}
.settingsOptions {
	font-size: 1.1em;
	position:absolute;
    left:0;
    right:0;
}
.settingsLabels{
	font-size: 1.1em;
	color: white;
	position:absolute;
	left:-130px;
    right:0;
}

