html {
  overflow: scroll;
  overflow-x: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
  height: 3000px;
  background-size: cover;
}

button {
  background: #696969;
  color: white;
  border-radius: 5px;
  height: 25px;
  outline: none;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

body {
  background-color: black;
  background-size: cover;
  margin: 0;
  overflow: hidden;
}

#inputPresets {
  width: 150px;
}

.area_rewards {
  width: 16px;
  height: 16px;
  margin-left: 1px;
  visibility: hidden;
}

.area_entrance {
  width: 17px;
  height: 15px;
  filter: drop-shadow(0px 0px 1px #ffffff);
}

.superJunk {
  color: lightblue;
  font-size: 21px;
  letter-spacing: -5px;
  margin-left: -1px;
  margin-bottom: -4px;
  margin-top:-4px;
  position: relative;
  bottom: 1px;
}

.superSK {
  color: lightgrey;
  font-size: 21px;
  margin-left: 2px;
  margin-bottom: -4px;
  margin-top:-4px;
  position: relative;
  bottom: 1px;
}

.superBK {
  color: #ca3433;
  font-size: 21px;
  margin-left: -2px;
  margin-bottom: -4px;
  margin-top:-4px;
  position: relative;
  bottom: 1px;
}

.chuButtons {
  width: 25px;
  font-size: 18px;
  display: none;
}

.rupeeButtons {
  position: relative;
  top: 2px;
  width: 20px;
  height: 25px;
  display: none;
}

#rupeeCount {
  font-size: 20px;
  position: relative;
  left: 3px;
  bottom: 3px;
  display: none;
}

#chuCount {
  margin-left: 2px;
  display: none;
}

#timerControl {
  margin-left: 90px;
  display: none;
  top: 970px;
  position: absolute;
  right: 1180px;
}

#normalColumn1 {
  margin-left: 4px;
}

.track_text {
  font-size: 26px;
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: top;
}

#tokenStatsColumn {
  color: gold;
  font-weight: bold;
}
#checkStatsColumn {
  color: lightblue;
  font-weight: bold;
}
.stat-text {
  font-size:16px;
  float: top;
}

#text_gan {
  vertical-align: top;
  color: #FFA3B8;
  font-size: 26px;
  text-transform: uppercase;
  font-family: "Consolas", Courier, monospace;
}

.linsomed {
  font-size: 16px;
  font-family: "Consolas", Courier, monospace;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.linsostone {
  font-size: 12px;
  font-family: "Consolas", Courier, monospace;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.linso_counter {
  font-size: 30px;
  color: rgb(255, 215, 0);
  text-align: left;
  position: absolute;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.dungText {
  vertical-align: top;
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Consolas", Courier, monospace;
}

#text_dung4 {
  color: lightgreen;
}
#text_dung5 {
  color: #ff4d4d;
}
#text_dung6 {
  color: lightblue;
}
#text_dung7 {
  color: rgb(238, 130, 238);
}
#text_dung8 {
  color: rgb(255, 165, 0);
}
#text_dung9 {
  color: white;
}
#text_dung1 {
  color: lightgreen;
  font-weight: 100;
  opacity: 0.8;
}
#text_dung2 {
  color: #ff4d4d;
  font-weight: 100;
  opacity: 0.8;
}
#text_dung3 {
  color: lightblue;
  font-weight: 100;
  opacity: 0.8;
}



.empty {
  height: 0px;
  width: 0px;
}

#markChildLocation {
  margin-left: 0px;
  margin-right: 5px;
  width: 75px;
}

#markAdultLocation {
  margin-left: 0px;
  width: 75px;
}

.man {
  height: 25px;
  width: 25px;
  margin-bottom: 6px;
  margin-top: 0px;
  margin-right: 2px;
}

#dungspawnInputs {
  position: absolute;
  top: 1040px;
  left: -140px;
}

.stones {
  height: 25px;
  width: 25px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 4px;
}

.medallions {
  height: 20px;
  width: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 3px;
}

.medallions.small {
  height: 12px;
  width: 12px;
  margin-bottom: 0px;
}

#quest1 {
  display: none;
}

#triforcePic {
  margin-top: 1px;
  margin-right: 4px;
  display: none;
}

#med_background {
  background-image: url("./normal/background.png");
  filter: drop-shadow(14px 0 5px gold);
  border-radius: 1%;
}

.requirements {
  height: 22px;
  width: 22px;
  margin-left: -1px;
  margin-right: -3px;
  margin-top:3px;
  opacity: 0.2;
}

.barren_input {
  width: 29px;
  vertical-align: top;
  margin-bottom: 0px;
  background-color: #181818;
  filter: drop-shadow(0px 0px 2px red);
  color: white;
  font-size: 12px;
}
.woth_input {
  width: 29px;
  vertical-align: top;
  margin-bottom: 0px;
  background-color: #181818;
  filter: drop-shadow(0px 0px 2px blue);
  color: white;
  font-size: 12px;
}

#barren_hints_div {
  display: block;
}

#woth_text {
  color: #33cccc;
}

#barren_text {
  color: #ff8080;
}

.super_hint_input {
  width: 200px;
  height: 140px;
  vertical-align: top;
  margin-bottom: 3px;
  columns: 5;
  background-color: #181818;
  color: white;
}

.area_titles {
  font-size: 20px;
  font-weight: 3000;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.area_titles.hidden {
  display: none;
}

.area_titles_break {
  line-height: 150%;
}

.area_titles_break.hidden {
  display: none;
}

.column {
  margin-top: 4px;
  float: left;
  width: 83px;
}

#skullsInLogicList {
  display: none;
  float: left;
  width: 180px;
  color: gold;
}

#credits {
  width: 200px;
  float: left;
}

.searchingFor_images {
  height: 20px;
  width: 20px;
}

#searchingFor_div {
  width: 100px;
}

#probability_input {
  width: 25px;
  height: 16px;
  position: relative;
  top: 7px;
  left: 12px;
}

#theLetterN {
  color: white;
  position: relative;
  left: 12px;
  top: 6px;
}

#timerMultiplier {
  width: 50px;
}

#probabilityColumn {
  left: 1740px;
  top: 26px;
  position: absolute;
  float: left;
  width: 350px;
}

#explosives_probability {
  font-size: 14px;
  color: #a7c7e7;
}

.animalFilter {
  hue-rotate: 180;
}

#major_probability {
  font-size: 14px;
  color: gold;
  margin-left:8px;
}

#goMode {
  height: 20px;
  width: 20px;
}

.checkSummaryColumn {
  position: absolute;
  right:0px;
  top:150px;
  width: 250px;
}

.checked_text_summary {
  font-size: 14px;
  font-weight: bold;
  color: chartreuse;
  opacity: 1;
}

.checked_text_summary_unknown {
  font-size: 14px;
  font-weight: bold;
  color: yellow;
  opacity: 1;
}

.checked_text_summary_not_have {
  font-size: 14px;
  font-weight: bold;
  color: chartreuse;
  opacity: 0.5;
}

.checked_text_summary_unknown_not_have {
  font-size: 14px;
  font-weight: bold;
  color: yellow;
  opacity: 0.5;
}

.checked_text_summary_have_ool {
  font-size: 14px;
  font-weight: normal;
  color: orange;
  opacity: 1;
}

.checked_text_summary_ool {
  font-size: 14px;
  font-weight: normal;
  opacity: 1;
}

.checked_text_summary_known {
  font-size: 14px;
  font-weight: normal;
  color: white;
  opacity: 1;
}

.checked_text_summary_ool_could_have {
  font-size: 14px;
  font-weight: normal;
  color: orange;
  opacity: 0.5;
}

#extra_column {
  width: 75px;
  float: left;
  margin-top: 10px;
}

#song_background {
  margin-top: 41px;
  margin-right: 2px;
  height: 252px;
  border-radius: 2.5%;
  filter: drop-shadow(-10px 0 5px white);
  border: 1px ridge #202020;
  background-image: url("./normal/background.png");
}

#settings {
  display: flex;            /* Enables side-by-side layout */
  flex-direction: row;      /* Ensures they go horizontally */
  align-items: flex-start;  /* Aligns columns to the top */
  gap: 5px;   
}
#info-row {
  margin-top:2px;
  display: flex;            /* Enables side-by-side layout */
  flex-direction: row;      /* Ensures they go horizontally */
  align-items: flex-start;  /* Aligns columns to the top */
  gap: 5px;   
}
#unstreamed-row {
  float:bottom;
  display: flex;            /* Enables side-by-side layout */
  flex-direction: row;      /* Ensures they go horizontally */
  align-items: flex-end;  /* Aligns columns to the top */
  position: absolute;
  bottom:5px;
  left:600px;
  gap: 5px;   
}
.three-dungeons {
  margin-top:-2px;
  width:162px;
}
#patchNotesColumn {
  position: absolute;
  left: 985px;
  top: 900px;
}

#pieceDungeons {
  width: 92px;
  margin-left: 0px;
  margin-top: 2px;
  display: none;
}

#settingsColumn {
  position: absolute;
  left: 925px;
}

#statsColumn {
  position: absolute;
  left: 1300px;
}

.patchNotes {
  font-size: 12px;
  color: lightblue;
  display: none;
}

.wothImages {
  margin-bottom: 0px;
  height: 22px;
  width: 22px;
  vertical-align: middle;
}

.manualWothImages {
  margin-bottom: 0px;
  height: 22px;
  width: 22px;
  -webkit-filter: drop-shadow(0px 0px 5px yellow);
  vertical-align: middle;
}

.notWothItemImages {
  margin-bottom: 0px;
  height: 22px;
  width: 22px;
  filter: drop-shadow(0px 0px 5px red);
  vertical-align: middle;
}

.putInLogicByWothItemImages {
  margin-bottom: 0px;
  height: 22px;
  width: 22px;
  border: 1px solid red;
  vertical-align: middle;
}

.wothMajorImages {
  height: 22px;
  width: 22px;
  vertical-align: middle;
}

.customizeTitles {
  font-size: 18px;
  font-weight: bold;
  color: #b19cd9;
}

.patchNotesTitle {
  font-size: 14px;
  font-weight: bold;
  color: lightblue;
}

#alternateTrackerColumn {
  position: relative;
  margin-top: 10px;
  height: 500px;
  float: left;
  width: 280px;
}

#linsoColumn {
  position: absolute;
  top:150px;
  right:270px;
  width: 280px;
}

.oops {
  font-size: 1px;
}

.pplpics {
  height: 12px;
  width: 12px;
  margin-right: 4px;
  position:relative;
  top:2px;
}

.dungcolumn {
  top: 4px;
  float: left;
  position: relative;
  width: 83px;
}

#notes {
  color: white;
}

.full_span {
  display: inline-block;
  width: 40px;
}

.half_span {
  display: inline-block;
  width: 20px;
}

#row {
  background-color: #3b4144;
  height:1080px;
}

.highlight-flash {
  background-color: #00ffcc !important; /* A bright teal/cyan */
  transition: background-color 0.05s ease-in;
}

.check_input {
  height: 22px;
  width: 30px;
  vertical-align: top;
  margin-bottom: 2px;
  margin-right: 2px;
  padding: 0;
  background-color: #181818;
  color: magenta;
}

.alt_hint_input {
  background-color: #181818;
  color: white;
}

.simLog {
  overflow-y: scroll;
  background-color: #181818;
  color: white;
  display: none;
}

#patchNotesTitle {
  display: none;
  color: lightblue;
}

.picture_input {
  width: 28px;
  height: 22px;
  vertical-align: top;
  padding: 0;
  border: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: magenta;
}

.woth_item_arrow {
  width: 30px;
  height: 22px;
  margin-bottom: 2px;
  margin-right: 2px;
  vertical-align: middle;
  padding: 0;
  border: none;
  color: white;
}

.layout_input {
  width: 55px;
  vertical-align: top;
  margin-bottom: 0px;
  margin-top: 3px;
  background-color: #181818;
  color: white;
}

#simSeed {
  width: 35px;
}

.mark_spawn {
  width: 55px;
  vertical-align: top;
  margin-bottom: 0px;
  margin-top: 3px;
  background-color: #181818;
  color: white;
}

.custom_spawn {
  width: 55px;
  height: 22px;
  margin-bottom: 2px;
  margin-right: 2px;
  vertical-align: top;
  padding: 0;
  border: none;
  background-color: #404040;
  color: white;
}

.settings_small {
  width: 30px;
  height: 22px;
  margin-bottom: 2px;
  margin-right: 2px;
  vertical-align: top;
  padding: 0;
  border: none;
  background-color: #404040;
  color: white;
}

.check_text {
  font-size: 16px;
}

.logic_check_text {
  font-size: 16px;
  color: chartreuse;
  display: inline-block;
  opacity: 1;
  margin-top: 1px;
  vertical-align: top;
  letter-spacing: -1.3px;
}

.known_check_text {
  font-size: 16px;
  color: green;
  font-weight: normal;
  display: inline-block;
  opacity: 0.5;
  margin-top: 1px;
  vertical-align: top;
  letter-spacing: -1.3px;
}

.access_check_text {
  font-size: 16px;
  color: yellow;
  font-weight: normal;
  display: inline-block;
  opacity: 0.5;
  margin-top: 1px;
  vertical-align: top;
  letter-spacing: -1.3px;
}

.ool_check_text {
  vertical-align: top;
  font-size: 16px;
  font-weight: normal;
  color: white;
  display: inline-block;
  opacity: 0.5;
  margin-top: 1px;
  letter-spacing: -1.3px;
}

.gossip_text {
  font-size: 16px;
  color: pink;
  display: inline-block;
  opacity: 1;
  margin-top: 1px;
  vertical-align: top;
  letter-spacing: -1.3px;
}

#linso11 {
  position: absolute;
  right: -133px;
  top: 8px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: black;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.song-icon {
  position: relative;
  height: 34px;
  width: 34px;
}
#songs-grid{
  display: flex;
  flex-wrap: wrap;       /* Allows it to go to the next line */
  width: 230px;          /* Adjust width so exactly 6 fit per row */
  gap: 4px;              /* Space between the boxes */
}

.bonuspics {
  height: 22px;
  width: 22px;
  margin-bottom: 4px;
  opacity: 0.2;
}

.buttonpics {
  height: 32px;
  width: 32px;
  margin-right: 4px;
  margin-top: 2px;
  margin-bottom: 3px;
  opacity: 1;
}

#timer {
  font-size: 50px;
  color: white;
  position: absolute;
  top: -10px;
  left: 1740px;
  font-family: calibri;
}

#linsoLight {
  animation: rotation 6s infinite linear;
  pointer-events: none;
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

#woth_info {
  margin-top: 0px;
  padding-top: 0px;
  text-align: top;
  left: 830px;
  height: 325px;
  font-size: 16px;
}

#woth_info.big {
  font-size: 24px;
}

#scrollable_section {
  overflow-x: hidden;
  overflow-y: auto;
}

.woth_info_text {
  font-size: 14px;
  font-style: italic;
}

.woth_item_text {
  color: lightblue;
  font-size: 14px;
  font-style: italic;
}

#woth_info .woth_info_title {
  font-size: inherit;
}

.path_arrow {
  color: #ffffff;
}

#ageButton {
  display: none;
  height: 20px;
  width: 20px;
  top: 29px;
  left: 895px;
  position: absolute;
}

.gameFocus {
  position: absolute;
  left: 50%;
  margin-top: 40px;
  margin-left: -33%;
  text-align: center;
  height: 85%;
  width: 67%;
  border: 3px solid white;
  border-radius: 7.5%;
}

#stonePic {
  height: 16px;
  width: 16px;
  position:absolute;
  right:50px;
  top:129px;
}
#markStones {
  width: 50px;
  color: white;
  position:absolute;
  text-align:center;
  right:4px;
  top:123px;
  font-size:12px;
}

#medallionPic {
  height: 16px;
  width: 16px;
  position:absolute;
  right:160px;
  top:129px;
}
#markMedallions {
  width: 90px;
  color: white;
  position:absolute;
  right:74px;
  text-align:center;
  top:123px;
  font-size:12px;
}

#mark_ER_Dungeons {
  margin-top: 3px;
  width: 100px;
  height: 40px;
  color: white;
  font-family: monospace;
  resize: none;
}

.dung_er_label {
  font-family: monospace;
  margin-left: 3px;
}

h1 {
  text-align: center;
  width: 30%;
  margin: 0 auto;
  padding-bottom: 8px;
}

.top {
  display: inline;
}

#title_kokiri { color: #20ea01; }
#title_ranch { color: #101001; }
#title_field { color: #b6b004; }
#title_valley { color: #01e6d7; }
#title_hylia { color: #0101e6; }
#title_market { color: #c704e5; }
#title_hcastle { color: #84fe0b; }
#title_outG { color: #fe0404; }
#title_ToT { color: #d4e3ef; }
#title_river { color: #5db8fe; }
#title_domain { color: #a3d7fe; }
#title_lostwoods { color: #004f0b; }
#title_ganons { color: rgb(253, 215, 228); }
#title_sfm { color: #8bfb9a; }
#title_gcity { color: #feb813; }
#title_trail { color: #573e02; }
#title_kakariko { color: #678c8a; }
#title_crater { color: #fe3e04; }
#title_fortress { color: #c3ab7c; }
#title_wasteland { color: #976500; }
#title_colossus { color: #fed788; }
#title_graveyard { color: #200a28; }
#title_deku { color: #563c25; }
#title_dodongos { color: #b35705; }
#title_jabu { color: #077d8a; }
#title_fountain { color: #77f1fe; }
#title_ice { color: #9ef3fd; }
#title_forest { color: #88fa4e; }
#title_fire { color: rgb(255, 80, 80); }
#title_water { color: rgb(74, 170, 255); }
#title_spirit { color: yellow; }
#title_shadow { color: rgb(199, 100, 255); }
#title_well { color: #de86fe; }
#title_gtg { color: #fe8b08; }

.half_break {
  line-height: 5px;
}

.area_breaks {
  line-height: 5px;
}

.settingsOptions {
  font-size: 1.1em;
  position: absolute;
  background-color: #404040;
  color: white;
  left: 0;
  right: 0;
}

.rules-row {
  display: flex;            /* Makes this a flex container */
  justify-content: space-between; /* Pushes label to left, select to right */
  align-items: center;      /* Centers them vertically */
  width: 100%;              /* Ensure the row takes up the full width */
}

.rules-row select {
  background-color: #404040;
  color: white;
  width:170px;
}

#desiredAnimalLabel {
  color: white;
  position: relative;
  left: -57px;
  top: 1px;
  right: 0;
}

#quest1Label {
  display: none;
  color: white;
  position: relative;
  left: -52px;
  top: 1px;
  right: 0;
}

.configOptions {
  font-size: 1em;
  color: white;
  background-color: #404040;
  width: 260px;
}

.configLabels {
  font-size: 1.1em;
  color: white;
  position: relative;
  left: 0px;
  right: 0;
}